body
{
    background-color: #262626;
}
.header
{
    position: relative;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

.header .header-box
{
    background: #ffffff;
    position: absolute;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/*For Phone or Devices between 0 - 798px*/
@media only screen and (max-width: 798px) 
{
    .header .header-box
    {
        position: absolute;
        width: 90%;
        height: 20%;
        top: -1px;
    }
}